<div class="row">
<div class='bg_div'>
	<div class="demo1">
		<img src="img/Truck.png" height='400px' width="600px">
	</div>

	<div class="demo">
			<div class='get_started'>
				<h4 class='titles'>Get Started..</h4>
			</div>
			<div class='home_types_title'>
				<h4 class='titles'>Select Your Home Type..</h4>
			</div>
				<div class='house_types'>
	               	<input type='radio' name='options' id='option1' class='big' autocomplete='off' checked/>
	               	<span>apartment</span><br><br></span>
					<input type='radio' name='options' id='option2' class='big' autocomplete='off' checked />
					<span>condo<br><br></span>
					<input type='radio' name='options' id='option3' class='big' autocomplete='off' checked />
					<span>townhome<br><br></span>
					<input type='radio' name='options' id='option4' class='big' autocomplete='off' checked />
					<span>single-family house (attached)<br><br></span>
					<input type='radio' name='options' id='option5' class='big' autocomplete='off' checked />
					<span>single-family house (detached) </span>
				  </div><!-- end of house type div -->
				 <button type='button' class='btn btn-sm btn-primary btn_next'>next</button>
		</div><!-- end of demo div -->			
</div>
</div>