<div class="row">
	<div class='bg_div'>
	<div class="demo1">
		<img src="assets/Truck.png" height='400px' width="625px">
	</div>
	<div class="demo">
			<div class='get_started'>
				<h4 class='titles'>Get Started..</h4>
			</div>
			<div class='home_types_title'>
				<h4 class='titles'>Select Your Home Type..</h4>
			</div>
				<div class='house_types'>
					<md-radio-group>
	               		<md-radio-button value="apartment" aria-label="apartment">apartment</md-radio-button>
						<md-radio-button value="condo">condo</md-radio-button>
						<md-radio-button value="townhome">townhome</md-radio-button>
						<md-radio-button value="single-family house (attached)">single-family house (attached)</md-radio-button>
						<md-radio-button value="single-family house (detached)">single-family house (detached)</md-radio-button>
					</md-radio-group>
				</div> <!--end of house type div -->		
				<md-content md-theme="docs-dark">
					<md-button ng-href="#/map" class='md-raised md-primary btn_next'>next</md-button>
				</md-content>
		</div><!-- end of demo div -->			
</div>
</div>