<div class="row">
    <div class="bg_div">
        <div class="col-md-4">
            <md-content md-theme="docs-dark" class="md-padding" layout-sm="column" style="font-size:1.1em">
                <md-input-container>
                    <label>from:</label>
                    <input type="text" ng-autocomplete="result2" details="details2" options="options2" Required/>
                </md-input-container>
                <md-input-container>
                    <label>to:</label>
                    <input type="text" ng-autocomplete="result3" details="details3" options="options3" Required/>
                </md-input-container>
                <md-input-container>
                    <div class="col-md-1"><label>Date:</label>
                    <input ui-date ng-model="currentdate"></div>
                </md-input-container>    
            </md-content>    
        </div>
        <div class="col-md-2">
            <md-content md-theme="docs-dark" class="md-padding" layout-sm="column" style="font-size:1.1em">
                <md-input-container>
                    <label>zipcode:</label>
                    <input type="text" placeholder="zip-code" Required/>
                </md-input-container>
                <md-input-container>
                    <label>zipcode:</label>
                    <input type="text" placeholder="zip-code" Required/>
                </md-input-container>  
            </md-content>
        </div>
    </div>
</div>